.game {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    height: 100vh;
}
.game-title {
    display: flex;
    justify-content: center;
}

.selection-areas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
}

.player-title h1 {
    text-align: center;
}

.player-box,
.ai-box {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 10px;
}

.scaled {
    transform: scale(1.1);
    background-color: black;
}


.selection-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}


.selection-area div {
    display: flex;
    flex-direction: column;
    padding: 10px;
    transition: all 1s ease;
}


.display-box {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.title-area {
    text-align: center;
}

.game-display {
    text-align: center;
    flex: 2 1 0;
}

.selection-area div img {
    max-height: 200px;
    width: auto;
    min-height: 100px;
}

.main-display-area {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#start-button {
    width: 300px;
    height: 100px;
    border-radius: 5px;
    background-color: blue;
    font-size: 25px;
}

.main-display-area div {
    width: 200px;
    height: 200px;
    border-color: black;
    border-style: solid;
}

.main-display-area div p {
    font-size: 50px;
}

.game-display p {
    font-size: 20px;
}

.player-score-box,
.ai-score-box,
.game-display {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game,
.selection-areas,
.display-box,
.game-title,
.selection-area div,
.selection-area div img,
.player-box,
.ai-box
{
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 5px;
}